<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656429152785-bmpmglenvk1pcetniqvhmf4jhh72i20h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656429152785-bmpmglenvk1pcetniqvhmf4jhh72i20h</string>
	<key>API_KEY</key>
	<string>AIzaSyB8SZQEl8AG8J67qOFYKflPLiVUl4Rhzzw</string>
	<key>GCM_SENDER_ID</key>
	<string>656429152785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tstore</string>
	<key>PROJECT_ID</key>
	<string>e-commercapp-949bb</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commercapp-949bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656429152785:ios:dd87aaf0af9b328cfdcfb0</string>
</dict>
</plist>